################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ParkingLotApp/bin
/ParkingLotApp/obj
